build
*.ptx
tests
*.c
*.cmake
install
.vscode
imgui.ini
include\visii\utilities\version.h
include/visii/utilities/version.h
*.png
data
*.obj
*.mp4
*.hdr
*.jpg
*.mtl
*.zip
*.exr
*__pycache__
examples/content
examples\content